
{% block title %}Todo Lists{% endblock %}

{% block content %}
<main>
  <div>
    <h1>My Lists</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of items</th>
        </tr>
      </thead>
      <tbody>
        {% for todo_list in todo_lists %}
        <tr>
            <td><a href="{% url 'todos:todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
            <td>{{ todo_list.items.count }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">No lists yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
