{% block content %}
  <h1>{{ todo_list.name }}</h1>
  <p>Number of items: {{ todo_list.items.count }}</p>
  
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Due Date</th>        
      </tr>
    </thead>
    <tbody>
      {% for item in todo_list.task.all %}
        <tr>
          <td>{{ task.name }}</td>          
          <td>
            {% if task.due_date %}
             {{ task.due_date|date:"F j, Y" }}
            {% endif %}
            </td>
        </tr>      
      {% endfor %}
    </tbody>
  </table>
{% endblock %}